{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% block title %}
    <title>THIS IS PARENT</title>
{% endblock %}    
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
    {% block body_block %}
        <h1>THIS IS PARENT HTML FILE</h1>
    {% endblock %}
    <button type="button" class="btn btn-warning">Warning</button>

    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>